<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>UC Fund Me</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" rel="stylesheet">

    <link href="/css/style.css" rel="stylesheet">
  </head>

  <body>
    <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark primary-color">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">UC Fund Me</a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="main-nav">
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item <%= isActive(projectsPath) ? "active" : "" %>">
                <a class="nav-link" href="<%= projectsPath %>">Projects</a>
            </li>
            <% if (locals.currentUser) { %>
            <li class="nav-item  <%= isActive(newProjectPath) ? "active" : "" %>">
                <a class="nav-link" href="<%= newProjectPath %>">New Project</a>
            </li>
            <% } %>
        </ul>
        <!-- Links -->
        <div class="row">
          <% if (locals.currentUser) { %>
            <span class="navbar-text white-text">Signed in as <%= currentUser.name %></span>
            <form method="post" action="<%= signOutPath %>">
              <input type="hidden" name="_method" value="delete" />
              <button type="submit" class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3">Logout</button>
            </form>
          <% } else { %>
            <a href="<%= signInPath %>" class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3">Sign In</a>
            <a href="<%= signUpPath %>" class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3">Sign Up</a>
          <% } %>
        </div>
    </div>
    <!-- Collapsible content -->
  </nav>
  <!--/.Navbar-->
    <%- body %>


    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/js/mdb.min.js"></script>
                
  </body>

</html>